
@media screen and (max-width: 650px) {

    .alert-purple {
        display: none !important;

    }


    .Tcontainer {
        display: none !important;
    }
    .Mcontainer {
        display: inline-block;
        left:0px;

    }

    .Bcontainer{
         display: none !important;
    }
}






.nav {


    

position: relative;
	 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50px;
    top:120px; 
   



    overflow: hidden;  /* Crop it like it's hot! */

  /*   not part of the implementation; only to display what's going on */
    border: 1px solid black;
    background-color: #ddd;

     
}




ul {


    position: absolute;

    left: 10%;
    right: 10%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    

 

    
     max-width: 100%;
    /*background-color: #333;*/
}


a.home {
    
    /*color: white;*/

      position: absolute;
    left: 22%;
     
    

  
    padding: 14px 16px;
    text-decoration: none;
   
     

   padding-left: 40px;
   padding-right: 40px;

  
}

a.find{
        position: absolute;
       left: 35%;
   
    

  
    padding: 14px 16px;
    text-decoration: none;
   
     

   padding-left: 40px;
   padding-right: 40px;


}

a.movies {

        position: absolute;
       left: 53%;
    
    

  
    padding: 14px 16px;
    text-decoration: none;
   
     

   padding-left: 40px;
   padding-right: 40px;
}

a.forum {


        position: absolute;
       left: 70%;
     

  
    padding: 14px 16px;
    text-decoration: none;
   
     

   padding-left: 40px;
   padding-right: 40px;
}



.alert-purple {
 background:#000000;
 color: #fff;
 position: relative;
 max-width: 100%;
 width: 100%;
height: 55px;  
top: 121px;



  }

  a.promo {

position: absolute;
left: 50%;

  }


.Mcontainer{
	
	position: relative;
	
	width: 600px;
    height: 400px;
    top:170px; 
    right: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;  /* Crop it like it's hot! */

    /* not part of the implementation; only to display what's going on */
    border: 1px solid black;
    background-color: #ddd;
     max-width: 100%;
	 height: auto;




   

   
}



.MI {
	position:relative;	
	width: 600px;
	
	 max-width: 100%;
	 height: auto;
   

}


.Mcontainer:hover{
    opacity: 0.7;
    transition: 1s;
}





.Tcontainer {
    /* Set size of crop area. Setting its location happens bellow. */
    position: relative;
    width: 300px;
   
    left: 320px;
    bottom: 219px;
    overflow: hidden;  /* Crop it like it's hot! */
    display: block;
      margin-left: auto;
    margin-right: auto;
     border: 1px solid black;

    /* not part of the implementation; only to display what's going on */

    background-color: #ddd;

       max-width: 100%;
	 height: 190px;

}

.TT {
    /* Set the crop location by shifting the image
     * up by 70px and to the right by 30px.
     */
    position: relative;
    

    /* Scale the image as you normally would. */
         
     max-width: 100%;
	 height: 180px;


}

.Tcontainer:hover {
    opacity: 0.7;
    transition: 1s;



}



.Bcontainer {
	    position: relative;
    width: 300px;
    height: 190px;
    left: 320px;
    bottom: 210px;
    
    overflow: hidden;  /* Crop it like it's hot! */
    display: block;
      margin-left: auto;
    margin-right: auto;
     border: 1px solid black;

    /* not part of the implementation; only to display what's going on */

    background-color: #ddd;

       max-width: 100%;
	 

}

.BU {
	    position: relative;
    

    /* Scale the image as you normally would. */
 	
    width: 100%;
     max-width: 100%;
	 height: 200px;
}



.Bcontainer:hover{
    opacity: 0.7;
    transition: 1s;
}

.Econtainer {

    position: relative;
    width: 260px;
    height: 400px;
    left: 200px;
    bottom: 150px;
    overflow: hidden;

    border: 1px solid black;
}




.jesus {
position: absolute;
left: 100px;
bottom: 100px;

}