
@media screen and (max-width: 650px) {

    .alert-purple {
        display: none !important;

    }
    .Tcontainer {
        display: none !important;
    }
    .Mcontainer {
        display: inline-block;
        left:0px;
    }
    .Bcontainer{
         display: none !important;
    }
    .Econtainer{
         display: none !important;
    }
    .TMcontainer{
         display: none !important;
    }
}






.nav {


    

position: relative;
	 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50px;
    top:120px; 
   



    overflow: hidden;  /* Crop it like it's hot! */

  /*   not part of the implementation; only to display what's going on */
    border: 1px solid black;
    background-color: #ddd;

     
}




ul {


    position: absolute;

    left: 10%;
    right: 10%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    

 

    
     max-width: 100%;
    /*background-color: #333;*/
}


a.home {
    
    /*color: white;*/

      position: absolute;
    left: 22%;
     
    

  
    padding: 14px 16px;
    text-decoration: none;
   
     

   padding-left: 40px;
   padding-right: 40px;

  
}

a.find{
        position: absolute;
       left: 35%;
   
    

  
    padding: 14px 16px;
    text-decoration: none;
   
     

   padding-left: 40px;
   padding-right: 40px;


}

a.movies {

        position: absolute;
       left: 53%;
    
    

  
    padding: 14px 16px;
    text-decoration: none;
   
     

   padding-left: 40px;
   padding-right: 40px;
}

a.forum {


        position: absolute;
       left: 70%;
     

  
    padding: 14px 16px;
    text-decoration: none;
   
     

   padding-left: 40px;
   padding-right: 40px;
}



.alert-purple {
 background:#000000;
 color: #fff;
 position: relative;
 max-width: 100%;
 width: 100%;
height: 55px;  
top: 121px;



  }

  a.promo {

position: absolute;
left: 50%;

  }

  .checked {
    color: orange;
  }


/* Movie Pages*/

/* Mission Impossible: Fallout */
.Mheading {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:170px; 
    right: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;
   text-align: center;  
}

.Mcontainer {
	position: relative;
	
	width: 600px;
    height: 400px;
    top:200px; 
    right: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
	 height: auto;  
}

.Mrating {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:230px; 
    right: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;
   text-align: center;  
}

.Mdescription {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:-410px; 
    right: -400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;
   text-align: center;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
}

.MI {
	position:relative;	
	width: 600px;
	
	 max-width: 100%;
	 height: auto;
   

}


.Mcontainer:hover{
    opacity: 0.7;
    transition: 1s;
}


.Eheading {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:170px; 
    right: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;
   text-align: center;  
}

.Econtainer {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:200px; 
    right: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;  
}

.Erating {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:230px; 
    right: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;
   text-align: center;  
}

.Edescription {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:-305px; 
    right: -400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;
   text-align: center;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
}

.E2 {
  position:relative;  
  width: 600px;
  
   max-width: 100%;
   height: auto;
   

}


.Econtainer:hover{
    opacity: 0.7;
    transition: 1s;
}


.Jheading {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:170px; 
    right: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;
   text-align: center;  
}

.Jcontainer {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:200px; 
    right: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;  
}

.Jrating {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:230px; 
    right: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;
   text-align: center;  
}

.Jdescription {
  position: relative;
  
  width: 600px;
    height: 400px;
    top:-340px; 
    right: -400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;
    border: 1px solid black;
    background-color: #ddd;
    max-width: 100%;
   height: auto;
   text-align: center;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
}

.JE {
  position:relative;  
  width: 600px;
  
   max-width: 100%;
   height: auto;
   

}


.Jcontainer:hover{
    opacity: 0.7;
    transition: 1s;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;;
   color: white;
   text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
