
body{
background-color: #fefefe;
font-family: 'Playfair Display', serif;
  line-height: 1.0;
}


.section2{

  position: absolute;
  top: -90px;
  left: 653px;
}

.c4 {
  
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-style: italic;
}

.Mcontainer{
    
    position: relative;
   
    width: 640px;
    height: 500px;
    top:170px; 
    right: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    overflow: hidden;  /* Crop it like it's hot! */

    /* not part of the implementation; only to display what's going on */
  
    background-color: #ddd;
     max-width: 100%;
     height: auto;




   

   
}



.MI {
    position:relative;  
    width: 640px;
    
     max-width: 100%;
     height: auto;
   

}


.Mcontainer:hover{
    opacity: 0.7;
    transition: 1s;
}

.C1{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 40px;

  left: 20px;
  top: 250px;

}



.Tcontainer {
    /* Set size of crop area. Setting its location happens bellow. */
    position: relative;
    width: 350px;
   height: 220px;
    left: 320px;
    bottom: 244px;
  /* Crop it like it's hot! */
    display: block;
      margin-left: auto;
    margin-right: auto;

    overflow: hidden;

    /* not part of the implementation; only to display what's going on */

    background-color: #ddd;

       max-width: 100%;
   
     clear: both;

}

.TT {
    /* Set the crop location by shifting the image
     * up by 70px and to the right by 30px.
     */
    position: relative;
    

    /* Scale the image as you normally would. */
         
    right: 50px;
     height: 280px;
     width: 440px;


}

.Tcontainer:hover {
    opacity: 0.7;
    transition: 1s;



}




.C2{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 23px;

  left: 1140px;
  top: 100px;
  
}


.Bcontainer {
        position: relative;
    width: 350px;
    height: 190px;
    left: 320px;
    bottom: 240px;
    
    overflow: hidden;  /* Crop it like it's hot! */
    display: block;
    margin-left: auto;
    margin-right: auto;
 
    /* not part of the implementation; only to display what's going on */

    background-color: #ddd;

       max-width: 100%;
     

}

.BU {
        position: relative;
    

    /* Scale the image as you normally would. */
    
    width: 370px;
     height: 250px;
}



.Bcontainer:hover {
    opacity: 0.7;
    transition: 1s;
}




.C3{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 23px;

  left: 1140px;
  top: 570px;
}


.test{
  z-index: 100;
  position: absolute;
  color: white;
   font-size: 23px;
   top: 160px;
   left: 10px;

}

.c5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-style: italic;

    z-index: 100;
  position: absolute;
  color: white;
     top: 140px;
   left: 10px;

   


}

.c6{
font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-style: italic;

    z-index: 100;
  position: absolute;
  color: white;
     top: 140px;
   left: 10px;


}

.c7{

    z-index: 100;
  position: absolute;
  color: white;
   font-size: 23px;
   top: 160px;
   left: 10px;
}

.form group row {

  position: absolute;
  left: 1000px;
}


.Pref {
  position: absolute;
  right: 800px;


}

.msgs {

 position: absolute;
 left: 800px;

}