.Gcontainer{

  position: absolute;
  top:800px;
  left: 460px;
  width: 100px;
  height: 100px;

}
.carousel-inner{

  position: relative;


}

.bean {
  position: relative;
  width: 390px;
  height: 200px;
right: 80px;


}

.lmao{

  position: relative;
  height: 200px;
     width: 300px;
    
  
     
    



    overflow: hidden;  /* Crop it like it's hot! */

    /* not part of the implementation; only to display what's going on */
    border: 1px ;
         border-style: solid;
    border-color: #e0e0e0;
    background-color: #ddd;
     max-width: 100%;
 
}


.may {

  position: relative;
  width: 400px;
  height: 200px;
  right: 50px;

}


.lmao2 {

    position: relative;
 height:200px;
  width: 300px;
    
   bottom: 200px;
  left: 352px;
     
    



    overflow: hidden;  /* Crop it like it's hot! */

    /* not part of the implementation; only to display what's going on */
    border: 1px;
         border-style: solid;
    border-color: #e0e0e0;
   
     max-width: 100%;
 



}



.lmao3{
   position: relative;
  
  height:200px;
  width: 300px;  
  bottom: 400px;
  left: 700px;
  
    



    overflow: hidden;  /* Crop it like it's hot! */

    /* not part of the implementation; only to display what's going on */
    border: 1px ;
         border-style: solid;
    border-color: #e0e0e0;
     max-width: 100%;
   

}




.rob {

  position: relative;
  width: 400px;
  height: 250px;
  right: 40px;
  bottom: 20px;

}


/*.item img {
  width: 400px;
  height: 200px;
}
*/
.carousel {
  position: relative;
  width: 1000px;
  height: 200px;
  bottom:250px;
 left: 10px;

      display: block;
    margin-left: auto;
    margin-right: auto;

}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 33%;
  height: 10px;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}
/*
ol.carousel-indicators li.active {
  background: yellow;
}*/



.meme {

  font-size: 20px;
  position: absolute;
top: 500px;
left: 920px;
color: #121212;
}